@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500&display=swap');

.Navbar {
  display: flex;
  flex-direction: row;
  top: 5rem;
  background-color: #fff;
  border-bottom: 1px solid #d8d8d8;
}

.Nav-header {
  display: flex;
  width: 100vw;
  background-color: #fff;
}

.Nav-header ul {
  display: flex;
  gap: 0.968rem;
  margin: 2rem;
  color: #121212;
  font-size: 0.8rem;
  text-transform: uppercase;
  align-items: center;
  list-style-type: none;
}

.Nav-logo {
  margin: 2rem;
  font-family: Montserrat;
  font-size: 1.875rem;
  font-weight: bold;
  color: var(--azure);
}
